## Datamanagement Homework 3 Part B)

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [8]:
df = pd.read_csv("/content/sample_data/output1_compressed.txt",delim_whitespace= True, names = ["frame","class","x","y","w","h"])

In [9]:
df.head()

   frame  class         x         y         w         h
0      1      2  0.949479  0.470417  0.100000  0.144167
1      1      5  0.305208  0.468333  0.041667  0.070000
2      1      5  0.261198  0.473750  0.051562  0.079167
3      1      7  0.439063  0.492500  0.064583  0.088333
4      1      2  0.098958  0.509583  0.097917  0.109167

In [52]:
frame_count = df.iloc[-1,0] #use last frame as frame count
avg_num = (df.shape[0])/frame_count
print("Average number of objects/frame is : ",avg_num)
distinct_dict = {} #use dictionary to store #of occurences of each class
for i in range(df.shape[0]) : 
    cur_class = df.iloc[i,1] #get current class
    if cur_class in distinct_dict: 
      distinct_dict[cur_class] += 1 
    else : 
       distinct_dict[cur_class] = 1

Average number of objects/frame is :  7.552380952380952

In [53]:
#Load COCO Names 
names = pd.read_csv("/content/sample_data/coco.names",delim_whitespace= True, names = ["class_name"])

In [58]:
print(distinct_dict)

{2: 2329, 5: 9, 7: 263, 11: 7, 9: 537, 10: 3, 6: 3, 0: 18, 1: 2, 33: 1}

### Conversion 
We can now convert the hash map keys (python dict) by using coco.names to use our names as keys directly (values stay the same), with the following line :

In [55]:
distinct_dict_classes = dict((names.iloc[key,0] , value) for (key,value) in distinct_dict.items())

In [56]:
print(distinct_dict_classes)

{'car': 2329, 'bus': 9, 'truck': 263, 'stop': 7, 'traffic': 537, 'fire': 3, 'train': 3, 'person': 18, 'bicycle': 2, 'kite': 1}

As we can see the number of stop signs is 7, we can check for correct implementation with the code cell below and see that it works :

In [57]:
#stop sign number 
print(" Number of total stop signs is : ",len(df[df['class']==11]))

 Number of total stop signs is :  7